@charset "UTF-8";
/* CSS Document */
body{
	margin: 0px;
}

.contenedor{
	width:1280px;
	height:620px;
	background: #FAC7BA;
}

#fondo2{
	height:30%;
	background:#FAC7BA;

}

.contenido{
	height:70%;
	background:#FAC7BA;
}
.navegador{
	background: #FAC7BA;
	height: 100px;
	width:150px;
	height: 60px;
	margin-left:10px;
}
.bio{margin-top:200px;}
p{
	width:100px;
	color: #A44E70;
	margin-left:30px;
}

.contactos{
	height:20%;
	text-align:center;
	background:#FAC7BA;
}

.iconos{
	margin-top:20px;
}

.no{
	height:5px;
}